.poster{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    max-height: 250px;
    cursor: grab;

}
.poster::-webkit-scrollbar{
    display: none;
}
.poster22{
    max-height: 220px;
    margin-right: 12px;
   
}
.heading2{
    color: white;
    padding-top: 10px;
}
.smallimg{
    max-height: 150px;
    margin-right: 12px;
}
